body {
  padding: 1rem;
  margin: 0;
}

main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.ReactNavigationController {
  position: relative;
  width: 320px;
  height: 480px;
  margin: 0 1rem 1rem 0;
  background: #DDDDDD;
  overflow: hidden;
}

.ReactNavigationControllerView,
.ReactNavigationControllerViewContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.ReactNavigationControllerViewContent {
  color: white;
}

.ReactNavigationControllerViewContent div {
  margin: auto;
}

.ReactNavigationControllerViewContent h1 {
  margin: auto;
  text-align: center;
}

.ReactNavigationControllerViewContent button {
  display: block;
  padding: 1em 2em;
  margin: 1em auto;
  background: #7FDBFF;
  border: 2px solid white;
  border-radius: 4px;
  color: #001f3f;
  font-size: 1em;
  outline: none;
}